.sr-point {
    fill: black;
    stroke: black;
}

.selected, .hover{						
    fill: white;
    stroke: black;
}

.sr-logit-curve {
    stroke: blue;
    stroke-width: 3px;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.sr-reference-line {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 5, 5;
    stroke-opacity: 0.75;
}

.sr-grid-line {
    stroke: black;
    stroke-width: 1;
    fill: block;
    opacity: 0.25
}

.sr-distr-hist {
    fill: blue;
    stroke: black;
    opacity: 0.125; 
    shape-rendering: crispEdges;
}

.brush .extent {
    fill: blue;
    opacity: .125;
    shape-rendering: crispEdges;
}

.tick line {
    opacity: 0.2;
}
