#variantmap-form p {
    font-weight: bold;
    font-size: 10pt;
}

#variantdb-server {
    width: 300px;
}

.sr-vm-grid line {
    stroke: #BBB;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.sr-vm-box .sr-vm-main-box {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.sr-vm-box .sr-vm-expr-box {
    stroke: none;
    fill: none;
}

.sr-vm-consq-line {
    stroke-width: 2px;
}
