<div class="heim-input-field">
    <h2>Dendrogram Node Functionality:</h2>
    <fieldset class="heim-radiogroup">
        <label>
            <input type="radio" ng-model="enabled" id="sr-pdMapSelect" ng-value="true"> Link to PD-Map
        </label>
        <label>
            <input type="radio" ng-model="enabled" id="sr-biocompendiumSelect" ng-value="false"> Link to Biocompendium
        </label>
    </fieldset>

    <div id="sr-pdmap-credentials">
        <label for="sr-pdmap-login">PD-Map Login:</label>
        <input type="text" id="sr-pdmap-login" ng-model="login"/><br/>
        <label for="sr-pdmap-password">PD-Map Password:</label>
        <input type="text" id="sr-pdmap-password" ng-model="password"/>
    </div>
</div>


